{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-md-6 mb-2">
        <div class="card">
            <h6 class="card-header">Checkpoint</h6>
            <div class="card-body">
                {% if open_form %}
                    {% crispy open_form %}
                {% else %}
                    <p>You cannot open this performance until all previous performances have been closed.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-2">
        <div class="alert alert-info">
            <p>You must complete the open checkpoint before you can make sales and process admissions for this show:</p>
            <ul>
                <li>Badges - number of fringe badges</li>
                <li>Fringers - number of paper fringers</li>
            </ul>
            <p>You can also add any notes that may be useful.</p>
            <p><strong>Important:</strong> once the performance has been opened you cannot update the badges or fringers but you can still add/update the notes.</p>
        </div>
    </div>
</div>
