{% load crispy_forms_tags %}

<style>
    legend {
        font-size: 1em;
        font-weight: bold;
    }
</style>

<div class="row">

    <div class="col-6">
        {% if not performance.has_close_checkpoint %}
            {% if current_sale %}
                <div class="card mb-2">
                    <h6 class="card-header">Sale<div class="float-right">Tickets Available: {{ performance.tickets_available }}</div></h6>
                    <div class="card-body">
                        {% crispy sale_form %}
                    </div>
                </div>
            {% else %}
                <div class="card mb-2">
                    <h6 class="card-header">New Sale</h6>
                    <div class="card-body">
                        {% crispy start_form %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if performance.has_close_checkpoint or not current_sale %}
            <div class="card">
                <h6 class="card-header">All Sales</h6>
                <div class="card-body">
                    <table class="table table-striped">
                        <thhead>
                            <tr>
                                <th>Sale No</th>
                                <th>Customer</th>
                                <th>Amount</th>
                            </tr>
                        </thhead>
                        <tbody>
                            {% for sale in sales %}
                                <tr>
                                    <td><a href="#" onclick="saleSelect('{{ sale.uuid }}')">{{ sale.id }}</a></td>
                                    <td>{{ sale.customer }}</td>
                                    <td>&#163;{{ sale.amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-6">
        {% if current_sale %}
            <div class="alert alert-info">
                {% if performance.has_close_checkpoint %}
                    <p>This performance is now closed and you can no longer make any changes.</p>
                {% elif current_sale.completed %}
                    <p>This sale is complete but you can still make changes to correct mistakes.</p>
                    <p></p>Once you have made any changes select Close to begin a new sale.</p>
                {% else %}
                    <p>Once the customer has paid select Complete to finish the sale.</p>
                    <p>If you select Cancel (or leave this page) the sale will be cancelled and no tickets will be issued.</p>
                {% endif %}
            </div>
            <div class="card">
                <h6 class="card-header"><i class="fa fa-user-circle {% if current_sale.customer_user %}text-primary{% endif %}"></i> {{ current_sale.customer }}</h6>
                <div class="card-body">
                    {% if current_sale.buttons %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ current_sale.buttons }} x Buttons</strong></div>
                            <div class="col-3 text-right">&#163;{{ current_sale.button_cost }}</div>
                        </div>
                    {% endif %}
                    {% for fringer in current_sale.fringers.all %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>Frequent Fringer: {{ fringer.description }}</strong></div>
                            <div class="col-3 text-right">&#163;{{ fringer.cost }}</div>
                        </div>
                    {% endfor %}
                    {% for performance in current_sale.performances %}
                        <div class="row mb-2">
                            <div class="col-12"><strong>{{ performance.show }}</strong></div>
                            <div class="col-12">{{ performance.date | date:"D, jS M" }} at {{ performance.time }}</div>
                            <div class="col-12">
                                {% for ticket in performance.tickets %}
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-9">{{ ticket.description }}</div>
                                        <div class="col-2 text-right">{% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row mb-2">
                        <div class="col-9"><strong>Total</strong></div>
                        <div class="col-3 text-right">&#163;{{ current_sale.total_cost }}</div>
                    </div>
                    {% if not performance.has_close_checkpoint %}
                        <div class="row mb-2">
                            <div class="col-12">
                                {% if current_sale.completed %}
                                    <div class="float-right">
                                        <a class="btn btn-secondary" href="#" onclick="updateSalesTab('{% url 'venue:sale_new' performance.uuid %}')">Close</a>
                                    </div>
                                {% else %}
                                    <a class="btn btn-primary" href="#" onclick="updateSalesTab('{% url 'venue:sale_complete' performance.uuid current_sale.uuid %}')">Complete</a>
                                    <a class="btn btn-secondary" href="#" onclick="updateSalesTab('{% url 'venue:sale_cancel' performance.uuid current_sale.uuid %}')">Cancel</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% elif performance.has_close_checkpoint %}
            <div class="alert alert-info">
                <p>
                    This performance is now closed.
                    To view details of a sale select it from the list.
                </p>
            </div>
        {% else %}
            <div class="alert alert-info">
                <p>To start a new sale enter the customer name or e-mail address and click Start.</p>
                <p><strong>Important:</strong> if the customer wants to purchase tickets using an eFringer you must enter the e-mail address of the account used to purchase the eFringer.</p>
                <p>To view or update details of a previous sale select it from the list.</p>
            </div>
        {% endif %}
    </div>

</div>

<script language="javascript">

    function saleSelect(uuid) {
        updateSalesTab('{% url "venue:sale_select" performance.uuid "00000000-0000-0000-0000-000000000000" %}'.replace('00000000-0000-0000-0000-000000000000', uuid));
    }

    function saleStart() {
        var postData = $('#sale-start-form').serializeArray();
        updateSalesTab('{% url "venue:sale_start" performance.uuid %}', postData);
    }

    function saleUpdate(uuid) {
        var postData = $('#sale-form').serializeArray();
        updateSalesTab('{% url "venue:sale_update" performance.uuid  "00000000-0000-0000-0000-000000000000" %}'.replace('00000000-0000-0000-0000-000000000000', uuid), postData);
    }

</script>