<div class="card">

    <div class="card-header">
        <a class="btn btn-primary float-right" href="#" onclick="updateTicketsTab('{% url 'venue:tickets' performance.uuid 'html' %}')">Refresh</a>
        <a class="btn btn-primary float-right mr-2" href="{% url 'venue:tickets' performance.uuid 'pdf' %}" target="_blank">Print</a>
        <h4>Tickets</h4>
    </div>

    <div class="card-body">

        <h5>Box Office and Online Sales</h5>
        <table class="table table-sm">
            <tr>
                <th>Number</th>
                <th>Customer</th>
                <th>Type</th>
                <th>Sale</th>
                <th>Token</th>
            </tr>
            {% for ticket in non_venue_tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{% if ticket.user %} {{ ticket.user.username }} {%else%} {{ ticket.sale.customer }} {% endif %}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{% if ticket.sale.boxoffice %}Box Office{% else %}Online{% endif %}</td>
                    <td><input id="token_{{ ticket.uuid }}" type="checkbox" onclick="toggle_token('{{ ticket.uuid }}')" {% if ticket.token_issued %}checked{% endif %} /></td>
                </tr>
            {% endfor %}
        </table>

        <h5>Venue Sales</h5>
        <table class="table table-sm">
            <tr>
                <th>Number</th>
                <th>Customer</th>
                <th>Type</th>
                <th>Sale</th>
                <th>Token</th>
            </tr>
            {% for ticket in venue_tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{% if ticket.user %} {{ ticket.user.username }} {%else%} {{ ticket.sale.customer }} {% endif %}</td>
                    <td>{{ ticket.description }}</td>
                    <td>Venue</td>
                    <td><input id="token_{{ ticket.uuid }}" type="checkbox" onclick="toggle_token('{{ ticket.uuid }}')" {% if ticket.token_issued %}checked{% endif %} /></td>
                </tr>
            {% endfor %}
        </table>

        {% if cancelled_tickets %}
            <h5>Cancelled/Refunded Tickets</h5>
            <table class="table table-sm">
                <tr>
                    <th>Number</th>
                    <th>Customer</th>
                    <th>Type</th>
                    <th>Sale</th>
                </tr>
                {% for ticket in cancelled_tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{% if ticket.user %} {{ ticket.user.username }} {% else %} {{ ticket.sale.customer }} {% endif %}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{% if ticket.sale.boxoffice %}Box Office{% else %}Online{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>

</div>

<script language="javascript">

    function toggle_token(ticket_uuid) {
        $.ajax({
            url: '{% url 'venue:ticket_token' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', ticket_uuid),
            beforeSend: function () {
                $('body').css({
                    'cursor': 'wait'
                });
            },
            complete: function () {
                $('body').css({
                    'cursor': 'default'
                });
            },
            success: function(response) {
                $('#token_' + ticket_uuid).prop('checked', response.token_issued);
            },
            error: function(response) {
                $('#tf-alerts').append('<div class="alert alert-error"><a class="close" data-dismiss="alert">x</a><span>Sorry but there was an error. Please try again.</span></div>');
            }
        });
    }

</script>
