{% if tab == 'tickets' %}
    {% for msg in messages %}
        <div class="{{ msg.tags }} alert-dismissible" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
{% endif %}

<div class="card" hx-target="#tickets-tab-content">

    <div class="card-header">
        <button class="btn btn-primary float-right" hx-get="{% url 'venue:tickets' performance.uuid 'html' %}">Refresh</button>
        <a class="btn btn-primary float-right mr-2" href="{% url 'venue:tickets' performance.uuid 'pdf' %}" target="_blank">Print</a>
        <h4>Tickets</h4>
    </div>

    <div class="card-body">

        <h5>Box Office and Online Sales</h5>
        <table class="table table-sm">
            <tr>
                <th>Number</th>
                <th>Customer</th>
                <th>Type</th>
                <th>Sale</th>
                <th>Token</th>
            </tr>
            {% for ticket in non_venue_tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{% if ticket.user %} {{ ticket.user.username }} {%else%} {{ ticket.sale.customer }} {% endif %}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{% if ticket.sale.boxoffice %}Box Office{% else %}Online{% endif %}</td>
                    <td><input id="token-{{ ticket.uuid }}" type="checkbox" name="Issued" hx-get="{% url 'venue:ticket_token' ticket.uuid %}" hx-target="this" hx-swap="OuterHTML" {% if ticket.token_issued %}checked{% endif %}/></td>
                </tr>
            {% endfor %}
        </table>

        <h5>Venue Sales</h5>
        <table class="table table-sm">
            <tr>
                <th>Number</th>
                <th>Customer</th>
                <th>Type</th>
                <th>Sale</th>
                <th>Token</th>
            </tr>
            {% for ticket in venue_tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{% if ticket.user %} {{ ticket.user.username }} {%else%} {{ ticket.sale.customer }} {% endif %}</td>
                    <td>{{ ticket.description }}</td>
                    <td>Venue</td>
                    <td><input id="token-{{ ticket.uuid }}" type="checkbox" name="Issued" hx-get="{% url 'venue:ticket_token' ticket.uuid %}" hx-target="this" hx-swap="OuterHTML" {% if ticket.token_issued %}checked{% endif %}/></td>
                </tr>
            {% endfor %}
        </table>

        {% if cancelled_tickets %}
            <h5>Cancelled/Refunded Tickets</h5>
            <table class="table table-sm">
                <tr>
                    <th>Number</th>
                    <th>Customer</th>
                    <th>Type</th>
                    <th>Sale</th>
                </tr>
                {% for ticket in cancelled_tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{% if ticket.user %} {{ ticket.user.username }} {% else %} {{ ticket.sale.customer }} {% endif %}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{% if ticket.sale.boxoffice %}Box Office{% else %}Online{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>

</div>
