{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-md-6 mb-2">
        <div class="card">
            <h6 class="card-header">Checkpoint</h6>
            <div class="card-body">
                {% if close_form %}
                    {% crispy close_form %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-2">
        <div class="alert alert-info">
            <p>You must complete the close checkpoint before you can move on to the next show:</p>
            <ul>
                <li>Cash - total amount of cash</li>
                <li>Badges - number of fringe badges</li>
                <li>Fringers - number of paper fringers</li>
                <li>Audience - number of audience tokens collected</li>
            </ul>
            <p>You can also add any notes that may be useful.</p>
            <p><strong>Important:</strong> once the performance has been closed you cannot update the cash, badges or fringers but you can still add/update the audience and notes.</p>
        </div>
    </div>
</div>
