{% load crispy_forms_tags %}

<style>
    .legend {
        font-size: 1em;
        font-weight: bold;
    }
    div.alert-danger ul {
        margin-bottom: 0;
        list-style-type: none;
        padding-left: 0;
    }
</style>

<div class="row">

    <div class="col-6">
        {% if sale %}
            <div class="card mb-2">
                <h6 class="card-header">New Sale<div class="float-right">Available: {{ available }}</div></h6>
                <div class="card-body">
                    {% crispy sale_form %}
                </div>
            </div>
        {% elif performance.has_close_checkpoint %}
            <div class="card mb-2">
                <h6 class="card-header">Closed</h6>
                <div class="card-body">
                    <div class="alert alert-info">
                        <p>This performance is now closed.</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card mb-2">
                <h6 class="card-header">New Sale</h6>
                <div class="card-body">
                    <div class="alert alert-info">
                        <p>To start a new sale click Start.</p>
                    </div>
                    <button class="btn btn-primary" onclick="saleStart()">Start</button>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-6">
        {% if sale %}
            <div class="card">
                <h6 class="card-header">Sale: {{ sale.id }}</h6>
                <div class="card-body">
                    <div class="alert alert-info">
                        {% if performance.has_close_checkpoint %}
                            <p>This performance is now closed and you can no longer make any changes.</p>
                        {% elif sale.completed %}
                            <p>This sale is complete but you can still make changes to correct mistakes.</p>
                            <p>Once you have made any changes select Close to begin a new sale.</p>
                        {% else %}
                            <p>Once the customer has paid select Complete to finish the sale.</p>
                            <p>If you select Cancel (or leave this page) the sale will be cancelled and no tickets will be issued.</p>
                        {% endif %}
                    </div>
                    {% for performance in sale.ticket_performances %}
                        <div class="row mb-2">
                            <div class="col-12"><strong>{{ performance.show }}</strong></div>
                            <div class="col-12">{{ performance.date | date:'D, j M' }} at {{ performance.time | time:'h:ia' }}</div>
                            <div class="col-12">
                                {% for ticket in performance.tickets %}
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2">{{ ticket.id }}</div>
                                        <div class="col-7">{{ ticket.description }}</div>
                                        <div class="col-2 text-right">{% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    {% if sale.buttons %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ sale.buttons }} x Badges</strong></div>
                            <div class="col-3 text-right">&#163;{{ sale.button_cost }}</div>
                        </div>
                    {% endif %}
                    {% if sale.fringers.count > 0 %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ sale.fringers.count }} x Paper fringers ({{ sale.festival.fringer_shows }} shows for &#163;{{ sale.festival.fringer_price | floatformat:0 }})</strong></div>
                            <div class="col-3 text-right">&#163;{{ sale.fringer_cost }}</div>
                        </div>
                    {% endif %}
                    <div class="row mb-2">
                        <div class="col-9"><strong>Total</strong></div>
                        <div class="col-3 text-right">&#163;{{ sale.total_cost }}</div>
                    </div>
                    {% if not performance.has_close_checkpoint %}
                        <div class="row mb-2">
                            <div class="col-12">
                                {% if sale.completed %}
                                    <div class="float-right">
                                        <a class="btn btn-secondary" href="#" onclick="updateSalesTab('{% url 'venue:sale_new' performance.uuid %}')">Close</a>
                                    </div>
                                {% else %}
                                    <!-- <a class="btn btn-primary" href="#" onclick="updateSalesTab('{% url 'venue:sale_complete' performance.uuid sale.uuid %}')">Complete</a> -->
                                    <a class="btn btn-primary" href="intent:#Intent;package=com.squareup;action=com.squareup.pos.action.CHARGE;S.com.squareup.pos.WEB_CALLBACK_URI=https://81.135.39.136{% url 'venue:square_callback' %};S.com.squareup.pos.CLIENT_ID={{ square_appliocation_id }};S.com.squareup.pos.API_VERSION={{ square_api_version }};i.com.squareup.pos.TOTAL_AMOUNT={{ sale.total_cost_pence }};S.com.squareup.pos.CURRENCY_CODE={{ square_currency_code }};S.com.squareup.pos.TENDER_TYPES=com.squareup.pos.TENDER_CARD;S.com.squareup.pos.NOTE={{ sale.id }};S.com.squareup.pos.REQUEST_METADATA={{ sale.id }};end">Take Payment</a>
                                    <div class="float-right">
                                        <a class="btn btn-secondary" href="#" onclick="updateSalesTab('{% url 'venue:sale_cancel' performance.uuid sale.uuid %}')">Cancel</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="card">
                <h6 class="card-header">All Sales</h6>
                <div class="card-body">
                    <div class="alert alert-info">
                        {% if performance.has_close_checkpoint %}
                            <p>To view details of a sale select it from the list.</p>
                        {% else %}
                            <p>To view or update details of a previous sale select it from the list.</p>
                        {% endif %}
                    </div>
                    <table class="table table-striped">
                        <thhead>
                            <tr>
                                <th>Sale No</th>
                                <th>Date/Time</th>
                                <th>Amount</th>
                            </tr>
                        </thhead>
                        <tbody>
                            {% for sale in sales %}
                                <tr>
                                    <td><a href="#" onclick="saleSelect('{{ sale.uuid }}')">{{ sale.id }}</a></td>
                                    <td>{{ sale.completed }}</td>
                                    <td>&#163;{{ sale.amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

</div>

<script language="javascript">

    function saleSelect(uuid) {
        updateSalesTab('{% url "venue:sale_select" performance.uuid "00000000-0000-0000-0000-000000000000" %}'.replace('00000000-0000-0000-0000-000000000000', uuid));
    }

    {% if not sale %}

        function saleStart() {
            updateSalesTab('{% url "venue:sale_start" performance.uuid %}');
        }

    {% else %}

        function saleUpdate() {
            var postData = $('#sale-form').serializeArray();
            updateSalesTab('{% url "venue:sale_update" performance.uuid sale.uuid %}', postData);
        }

    {% endif %}

</script>