{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Venue: {{ venue.name }}{% endblock %}
{% block banner %}{% endblock %}
{% block messages %}{% endblock %}

{% block content %}

    {% if performances %}

        <form>
            <div class="form-group form-row">
                <label class="col-form-label col-2">Performance</label>
                <select id="select-performance" class="form-control col-10">
                    {% for p in performances %}
                        {% if p == next_performance %}
                            <option class="font-weight-bold" value="{{ p.uuid }}" {% if p == performance %}selected{% endif %}>{{ p.show.name }} on {{ p.date }} at {{ p.time }}</option>
                        {% else %}
                            <option value="{{ p.uuid }}" {% if p == performance %}selected{% endif %}>{{ p.show.name }} on {{ p.date }} at {{ p.time }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </form>

        <div class="nav nav-tabs nav-justified mb-3">
            {% if performance.has_open_checkpoint %}
                <a id="open-tab" class="nav-item nav-link {% if tab == 'open' or not tab %}active{% endif %}" href="#open-tab-content" data-toggle="tab">Open</a>
                <a id="sales-tab" class="nav-item nav-link {% if tab == 'sales' %}active{% endif %}" href="#sales-tab-content" data-toggle="tab">Sales</a>
                <a id="tickets-tab" class="nav-item nav-link {% if tab == 'tickets' %}active{% endif %}" href="#tickets-tab-content" data-toggle="tab" hx-get="{% url 'venue:tickets_refresh' performance.uuid %}" hx-target="#tickets-tab-content">Tickets</a>
                <a id="close-tab" class="nav-item nav-link {% if tab == 'close' %}active{% endif %}" href="#close-tab-content" data-toggle="tab">Close</a>
            {% else %}
                <a class="nav-item nav-link {% if tab == 'open' or not tab %}active{% endif %}" href="#open-tab-content" data-toggle="tab">Open</a>
                <a class="nav-item nav-link disabled" href="#">Sales</a>
                <a class="nav-item nav-link disabled" href="#">Tickets</a>
                <a class="nav-item nav-link disabled" href="#">Close</a>
            {% endif %}
            <a id="info-tab" class="nav-item nav-link {% if tab == 'info' %}active{% endif %}" href="#info-tab-content" data-toggle="tab" hx-get="{% url 'venue:performance_info' performance.uuid %}" hx-target="#info-tab-content">Information</a>
        </div>

        <div class="tab-content">

            <div id="open-tab-content" class="tab-pane {% if tab == 'open' or not tab %}active{% endif %}">
                {% include 'venue/_main_open.html' %}
            </div>

            {% if performance.has_open_checkpoint %}

                <div id="sales-tab-content" class="tab-pane {% if tab == 'sales' %}active{% endif %}">
                    {% include 'venue/_main_sales.html' %}
                </div>

                <div id="tickets-tab-content" class="tab-pane {% if tab == 'tickets' %}active{% endif %}">
                    {% include 'venue/_main_tickets.html' %}
                </div>

                <div id="close-tab-content" class="tab-pane {% if tab == 'close' %}active{% endif %}">
                    {% include 'venue/_main_close.html' %}
                </div>

            {% endif %}

            <div id="info-tab-content" class="tab-pane {% if tab == 'info' %}active{% endif %}">
                {% include 'venue/_main_info.html' %}
            </div>

        </div>

    {% else %}

        <div class="alert alert-info">
            There are no performances scheduled at this venue today.
        </div>

    {% endif %}

{% endblock %}

{% block body-script %}

    <script language="javascript">


        $( function() {
            $('#select-performance').on('change', function() {
                var uuid = $('#select-performance').val();
                location.href = '{% url 'venue:main_performance' venue.uuid '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', uuid);
            });
        });

    </script>
    
{% endblock %}
