<div class="row">
    <div class="col-6">
        <h5>Balance: &#163;{{ balance }}</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h6>{{ sales_count }} Sales</h6>
        <table class="table">
            <tr>
                <td>Buttons</td>
                <td>&#163;{{ sales_buttons }}</td>
            </tr>
            <tr>
                <td>Fringers</td>
                <td>&#163;{{ sales_fringers }}</td>
            </tr>
            <tr>
                <td>Tickets</td>
                <td>&#163;{{ sales_tickets }}</td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td>&#163;{{ sales_total }}</td>
            </tr>
        </table>
    </div>
</div>
