{% extends "base.html" %}

{% block pagetitle %}times{% endblock %}

{% block content %}

    <div id="tf-program-schedule">

<!--
        <div class="text-right mb-3"><a class="btn btn-primary" href="{% url 'program:schedule_pdf' %}">Full schedule (PDF)</a></div>
        
        <div class="nav nav-pills nav-justified mb-3">
            {% for day in days %}
                <a class="nav-item nav-link {% if forloop.first %}active{% endif %}" href="#tab{{ forloop.counter }}" data-toggle="tab">{{ day.date | date:"l" }}</a>
            {% endfor %}
        </div>
-->

        <div class="tab-content">
            {% for day in days %}
                <div id="tab{{ forloop.counter }}"class="tab-pane {% if forloop.first %}active{% endif %}">
                    <div class="row">
                        {% for venue in day.venues %}
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="mb-4 pl-2" {% if venue.color %}style="border-left: 1px solid {{ venue.color }};"{% endif %}>
                                    <h5 class="tf-venue-name" {% if venue.color %}style="color: {{ venue.color }};"{% endif %}>{{ venue.name }}</h5>
                                    <table class="table table-borderless table-sm">
                                        <colgroup>
                                            <col width="10%">
                                            <col width="90%">
                                        </colgroup>
                                        {% for performance in venue.performances %}
                                            {% if performance.is_cancelled %}
                                                <tr class="tf-cancelled">
                                                    <td>{{ performance.time | time:"H:i" }}</td>
                                                    <td>{{ performance.show_name }}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>{{ performance.time | time:"H:i" }}</td>
                                                    <td><a href="{% url 'program:show' performance.show_uuid %}">{{ performance.show_name }}</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}

