{% extends "base.html" %}

{% block pagetitle %}{% endblock %}

{% block content %}

    <div id="tf-program-show-detail">
        
        <div class="row">
            
            <div class="col-12 col-md-4">
                <h5 class="d-block d-md-none tf-show-name">{{ show.name }}</h5>
                <h6 class="d-block d-md-none tf-company-name">{{ show.company.name }}</h6>
                {% if show.image %}
                    <img class="m-1 w-100" src="{{ show.image.url }}" />
                {% endif %}
                <div class="tf-info1">
                    {% if show.genre_list %}
                        <p class="tf-genres m-0">{{ show.genre_list }}</p>
                    {% endif %}
                    {% if show.age_range %}
                        <p class="tf-age-range m-0">{{ show.age_range }}</p>
                    {% endif %}
                    {% if show.warnings %}
                        <p class="tf-warning m-0 mb-1">{{ show.warnings }}</p>
                    {% endif %}
                    {% if show.duration %}
                        <p class="tf-duration">{{ show.duration }} mins</p>
                    {% endif %}
                </div>
                <div class="tf-info2">
                    {% for vp in show.get_venue_performances %}
                        <h6><a class="tf-venue-name" style="{% if vp.venue.color %}color: {{ vp.venue.color }}{% endif %}" href="{% url 'program:venue' vp.venue.uuid %}">{{ vp.venue.name }}</a></h6>
                        <div class="tf-performances pl-2 mb-1">
                            {% for performance in vp.performances %}
                                <p class="m-0">
                                    {% if sales_open and not show.festival.is_archived and vp.venue.is_ticketed and not show.is_suspended %}
                                        <a href="{% url 'tickets:buy' performance.uuid %}">{{ performance.date | date:'D' }} at {{ performance.time | time:'H:i'}}</a>
                                    {% else %}
                                        {{ performance.date | date:'D' }} at {{ performance.time | time:'H:i'}}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                        {% if vp.venue.sponsor %}
                            <div class="tf-sponsor-name text-left" style="{% if vp.venue.sponsor.background %}background-color: {{ vp.venue.sponsor.background }};{% endif %}">
                                <a href="{{ vp.venue.sponsor.url }}" target="_blank"  style="{% if vp.venue.sponsor.color %}color: {{ vp.venue.sponsor.color }};{% endif %}">
                                    {% if vp.venue.sponsor.image %}<img class="m-0" style="height: 45px;" src="{{ vp.venue.sponsor.image.url }}" />{% endif %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if not show.festival.is_archived %}
                    <div class="tf-ticket-status">
                        {% if not show.is_ticketed %}
                            <p>
                                This is a pay-what-you-will-show.
                                There are no tickets but there will be a bucket-collection.
                            </p>
                        <p>
                            You can also make cash or card donations at the central box office or <a href="{% url 'tickets:payw' show.uuid %}">donate an eFringer credit</a> if you have one available.
                        </p>
                        {% elif sales_closed %}
                            <p>Online ticket sales are now closed.</p>
                        {% elif sales_open %}
                            {% if show.is_suspended %}
                                <p>Online ticket sales for this show are temporarily unavailable.</p>
                            {% else %}
                                <p>Select a performance to buy tickets online.</p>
                            {% endif %}
                        {% elif sales_open_date %}
                            <p>Online ticket sales will open on {{ sales_open_date | date:'M d' }}.</p>
                        {% else %}
                            <p>Online ticket sales are not yet open.</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-8">
                <h5 class="d-none d-md-block tf-show-name">{{ show.name }}</h5>
                <h6 class="d-none d-md-block tf-company-name">{{ show.company.name }}</h6>
                <div class="tf-description">
                    {% if html %}
                        {{ html | safe }}
                    {% else %}
                        {{ show.listing | linebreaks }}
                        {% if show.website %}
                            <p class="website"><a href="{{ show.website }}" target="_blank">{{ show.website }}</a></p>
                        {% endif %}
                        {% if show.twitter %}
                            <p class="twitter"><a href="https://twitter.com/{{ show.twitter }}" target="_blank">Twitter: {{ show.twitter }}</a></p>
                        {% endif %}
                        {% if show.instagram %}
                            <p class="instagram"><a href="https://www.instagram.com/{{ show.instagram }}" target="_blank">Instagram: {{ show.instagram }}</a></p>
                        {% endif %}
                        {% if show.facebook %}
                            <p class="facebook"><a href="https://www.facebook.com/{{ show.facebook }}" target="_blank">Facebook: {{ show.facebook }}</a></p>
                        {% endif %}
                    {% endif %}
                </div>
                {% if show.reviews.all %}
                    <div class="tf-reviews">
                        <h6>Reviews</h6>
                        {% for review in show.reviews.all %}
                            <div class="tf-head">
                                <span class="rating">{{ review.rating }}</span>
                                <span class="source">{{ review.source }}</span>
                                {% if review.url %}
                                    <a class="url" href="{{ review.url }}" target="_blank">Here</a>
                                {% endif %}
                            </div>
                            <div class="tf-body">
                                {{ review.body }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
        </div>

    </div>

{% endblock %}