vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Jul 2007 22:38:38 -0000
vti_author:SR|BILL\\Bill Buffery
vti_modifiedby:SR|BILL\\Bill Buffery
vti_nexttolasttimemodified:TW|17 Jul 2007 22:38:21 -0000
vti_timecreated:TR|08 Jul 2007 17:44:21 -0000
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|fringereview.htm
vti_syncwith_localhost\\c\:\\documents and settings\\bill buffery\\desktop\\multistorytheatre.co.uk/c\:/documents and settings/bill buffery/desktop/multistorytheatre.co.uk:TW|06 Sep 2006 16:05:08 -0000
vti_cacheddtm:TX|17 Jul 2007 22:38:38 -0000
vti_filesize:IR|928
