{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Shifts{% endblock %}

{% block content %}

    <div class="card mb-2">
        <h6 class="card-header">Search</h6>
        <div class="card-body">
            {% crispy search_form %}
        </div>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Location</th>
                <th>Role</th>
                <th>Volunteer</th>
            </tr>
        </thead>
        <tbody>
            {% for shift in shifts %}
                <tr>
                    <td>{{ shift.date }}</td>
                    <td>{{ shift.start_time }}</td>
                    <td>{{ shift.end_time }}</td>
                    <td>{{ shift.location.description }}</td>
                    <td>
                        {% if shift.commitment %}
                            {{ shift.role.description }}
                        {% else %}
                            <a href="{% url 'volunteers:admin_shift_update' shift.uuid %}">{{ shift.role.description }}</a>
                        {% endif %}
                    </td>
                    <td>{% if shift.volunteer %}{{ shift.volunteer.user.first_name }} {{ shift.volunteer.user.last_name }}{% endif %}</td>
                </tr>
            {%endfor %}
        </tbody>
    </table>

    <a href="{% url 'volunteers:admin_shift_create' %}" class="btn btn-primary">Add Shift</a>

{% endblock %}
