{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Volunteers Administration: Update Volunteer{% endblock %}
{% block banner %}{% endblock %}

{% block content %}

    {% crispy form %}

    {% if volunteer.can_remove %}
        <div id="tf-remove-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h5 class="modal-title">Remove volunteer</h5></div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove this user as a volunteer?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block body-script %}

    {{ roles_form.media }}

    <script language="javascript">

        $('#button-id-cancel').addClass('btn-secondary').on('click', function () { window.location.href = '{% url 'volunteers:admin_volunteers' %}'; });
        {% if volunteer.can_remove %}
            $('#button-id-remove').addClass('btn-danger').on('click', function() { $('#tf-remove-modal').modal('show'); });
            $('#tf-remove-modal .btn-primary').on('click', function () { window.location.href = "{% url 'volunteers:admin_volunteer_remove' volunteer.uuid %}"; });
        {% else %}
            $('#button-id-remove').addClass('btn-secondary').prop('disabled', true)
        {% endif %}

    </script>

{% endblock %}
