{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block pagetitle %}Volunteers{% endblock %}

{% block content %}

    <p>To add a user as a volunteer enter the first few letters of their e-mail address, select from the drop-down list and click Add.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-10">
                {{ form.user|add_class:"form-control" }}
            </div>
            <div class="col">
                <button class="btn btn-primary" name="Add" type="submit">Add</button>
            </div>
        </div>
    </form>
    
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th>Quals</th>
                <th>Shifts</th>
            </tr>
        </thead>
        <tbody>
            {% for user in request.festival.volunteers.all|dictsort:"last_name" %}
                <tr>
                    <td><a href="{% url 'volunteers:admin_volunteer_update' user.volunteer.uuid %}">{{ user.last_name }}, {{ user.first_name }}</a></td>
                    <td>{{ user.volunteer.roles.all|join:', ' }}</td>
                    <td>{% if user.volunteer.is_dbs %}DBS{% endif %}</td>
                    <td>{{ user.volunteer.shifts.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'volunteers:admin_home' %}" class="btn btn-secondary">Admin Home</a>

{% endblock %}

{% block body-script %}
    {{ form.media }}
{% endblock %}
