{% extends "base.html" %}

{% block pagetitle %}Volunteers Admininistration: Create Shift{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {% include 'bs4_form.html' %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            {% if location and date %}
                <a href="{%url 'volunteers:admin_shifts' location_uuid=location.uuid date=date %}" class="btn btn-secondary">Cancel</a>
            {% else %}
                <a href="{%url 'volunteers:admin_shifts' %}" class="btn btn-secondary">Cancel</a>
            {% endif %}
        </div>
    </form>

{% endblock %}

{% block body-script %}
    {{ form.media }}
{% endblock %}
