{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Volunteer Administration: {{ request.festival.name }}{% endblock %}

{% block content %}

    <ul>
        <li><a href="{% url 'volunteers:admin_role_list' %}">Roles</a></li>
        <li><a href="{% url 'volunteers:admin_location_list' %}">Locations</a></li>
        <li><a href="{% url 'volunteers:admin_shift_list' %}">Shifts</a></li>
        <li><a href="{% url 'volunteers:admin_volunteers' %}">Volunteers</a></li>
    </ul>

{% endblock %}
