{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Volunteers Administration: Roles{% endblock %}

{% block content %}

    <ul>
        {% for role in request.festival.roles.all %}
            <li><a href="{% url 'volunteers:admin_role_update' role.uuid %}">{{ role.description }}</a></li>
        {%endfor %}
    </ul>

    <a href="{% url 'volunteers:admin_role_create' %}" class="btn btn-primary">Add</a>
    <a href="{% url 'volunteers:admin' %}" class="btn btn-secondary">Admin Home</a>

{% endblock %}
