{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Shifts{% endblock %}
{% block banner %}{% endblock %}

{% block content %}

    <p>Selet a day to view and volunteer for shifts on that day.</p>

    <div class="nav nav-pills nav-justified mb-3">
        <a class="nav-item nav-link active" href="#tf-tab-myshifts" data-toggle="tab">My<br>Shifts</a>
        {% for day in days %}
            <a class="nav-item nav-link" href="#tf-tab-{{ day.date | date:'Ymd' }}" data-toggle="tab">{{ day.date | date:'l' }}<br>{{ day.date | date:'j F' }}</a>
        {% endfor %}
    </div>

    <div class="tab-content">

        <div id="tf-tab-myshifts" class="tab-pane fade show active">
            <table class="table accordion">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for shift in my_shifts %}
                        <tr>
                            <td>{{ shift.date | date:'D, j M' }}</td>
                            <td>{{ shift.location.description }}</td>
                            <td>{{ shift.start_time }}</td>
                            <td>{{ shift.end_time }}</td>
                            <td>{{ shift.role.description }}</td>
                            <td><a href="{% url 'volunteers:shift_cancel' shift.uuid %}">Cancel</a></td>
                            <td>{% if shift.notes %}<a href="#tf-tab-myshifts-{{ shift.id }}-notes" data-toggle="collapse"><i class="fa fa-info-circle"></i></a>{% endif %}</td>
                        </tr>
                        {% if shift.notes %}
                            <tr id="tf-tab-myshifts-{{ shift.id }}-notes" class="collapse" data-parent="#tf-tab-myshifts">
                                <td colspan="6" style="border: 0;"><div class="alert alert-info">{{ shift.notes | linebreaks }}</div></td>
                            </tr>
                        {% endif %}
                    {%endfor %}
                </tbody>
            </table>
        </div>

        {% for day in days %}
            <div id="tf-tab-{{ day.date | date:'Ymd' }}" class="tab-pane fade">
                <table class="table accordion">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>Location</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shift in day.shifts %}
                            <tr>
                                <td>{% if shift.notes %}<a href="#tf-tab-{{ day.date | date:'Ymd' }}-{{ shift.id }}-notes" data-toggle="collapse"><i class="fa fa-info-circle"></i></a>{% endif %}</td>
                                <td>{{ shift.location.description }}</td>
                                <td>{{ shift.start_time }}</td>
                                <td>{{ shift.end_time }}</td>
                                <td>{{ shift.role.description }}</td>
                                <td><a href="{% url 'volunteers:shift_accept' shift.uuid %}">Accept</a></td>
                            </tr>
                            {% if shift.notes %}
                                <tr id="tf-tab-{{ day.date | date:'Ymd' }}-{{ shift.id }}-notes" class="collapse" data-parent="#tf-tab-{{ day.date | date:'Ymd' }}">
                                    <td colspan="6" style="border: 0;"><div class="alert alert-info">{{ shift.notes | linebreaks }}</div></td>
                                </tr>
                            {% endif %}
                        {%endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

    </div>

{% endblock %}

