{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Shifts{% endblock %}

{% block content %}

    <p>Selet a day to view and volunteer for shifts on that day.</p>

    <div class="nav nav-pills nav-justified mb-3">
        <a class="nav-item nav-link active" href="#tf-tab-myshifts" data-toggle="tab">My<br>Shifts</a>
        {% for day in days %}
            <a class="nav-item nav-link" href="#tf-tab-{{ day.date | date:'Ymd' }}" data-toggle="tab">{{ day.date | date:'l' }}<br>{{ day.date | date:'j F' }}</a>
        {% endfor %}
    </div>

    <div class="tab-content">

        <div id="tf-tab-myshifts" class="tab-pane fade show active">

            {% if not can_cancel %}
                <div class="alert alert-info">
                    You can no longer cancel shifts online. If you are unable to work a shift please e-mail Pete at volunteers@theatrefest.co.uk as soon as possible.
                </div>
            {% endif %}
            
            <div class="float-right">
                <a class="btn btn-primary" href="{% url 'reports:volunteer_shifts_pdf' %}" target="_blank">Print Shifts</a>
                {% if handbook_url %}
                    <a class="btn btn-primary" href="{{ handbook_url }}">Handbook PDF</a>
                {% endif %}
            </div>
            <div class="clearfix"></div>

            <table class="table accordion mt-2">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Time</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for shift in my_shifts %}
                        <tr>
                            <td>{{ shift.date | date:'D, j M' }}</td>
                            <td>{{ shift.location.description }}</td>
                            <td>{{ shift.start_time | time:'g:i' }} - {{ shift.end_time | time:'g:iA' }}</td>
                            <td>{{ shift.role.description }}</td>
                            <td>{% if can_cancel %}<a href="{% url 'volunteers:shift_cancel' shift.uuid %}">Cancel</a>{% endif %}</td>
                            <td>{% if shift.notes %}<a href="#tf-tab-myshifts-{{ shift.id }}-notes" data-toggle="collapse"><i class="fa fa-info-circle"></i></a>{% endif %}</td>
                        </tr>
                        {% if shift.notes %}
                            <tr id="tf-tab-myshifts-{{ shift.id }}-notes" class="collapse" data-parent="#tf-tab-myshifts">
                                <td colspan="6" style="border: 0;"><div class="alert alert-info">{{ shift.notes | linebreaks }}</div></td>
                            </tr>
                        {% endif %}
                    {%endfor %}
                </tbody>
            </table>
        </div>

        {% for day in days %}
            <div id="tf-tab-{{ day.date | date:'Ymd' }}" class="tab-pane fade">
                <table class="table accordion">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>Location</th>
                            <th>Time</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shift in day.shifts %}
                            <tr>
                                <td>{% if shift.notes %}<a href="#tf-shift-{{ shift.id }}-notes" data-toggle="collapse"><i class="fa fa-info-circle"></i></a>{% endif %}</td>
                                <td>{{ shift.location.description }}</td>
                                <td>{{ shift.start_time | time:'g:i' }} - {{ shift.end_time | time:'g:iA' }}</td>
                                <td>{{ shift.role.description }}</td>
                                {% if shift.commitment %}
                                    <td><a href="#tf-shift-{{ shift.id }}-commitment" data-toggle="collapse">Commitment</a></td>
                                {% else %}
                                    <td><a href="{% url 'volunteers:shift_accept' shift.uuid %}">Accept</a></td>
                                {% endif %}
                            </tr>
                            {% if shift.commitment %}
                                <tr id="tf-shift-{{ shift.id }}-commitment" class="collapse" data-parent="#tf-tab-{{ day.date | date:'Ymd' }}">
                                    <td colspan="5" style="border: 0;"><div class="alert alert-warning">
                                        <p>By accepting this shift you are accepting all the following shifts.</p>
                                        <ul>
                                            {% for s in shift.commitment.shifts.all %}
                                                <li>{{ s.location.description }}, {{ s.date | date:'D, j M' }} {{ s.start_time | time:'g:i' }} - {{ s.end_time | time:'g:iA' }}, {{ s.role.description }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% if shift.commitment.notes %}
                                            <p>{{ shift.commitment.notes | linebreaks }}</p>
                                        {% endif %}
                                        <div>
                                            <a class="btn btn-primary" href="{% url 'volunteers:shift_accept' shift.uuid %}">Accept</a>
                                            <a class="btn btn-secondary" href="#tf-shift-{{ shift.id }}-commitment" data-toggle="collapse">Cancel</a>
                                        </div>
                                    </div></td>
                                </tr>
                            {% endif %}
                            {% if shift.notes %}
                                <tr id="tf-shift-{{ shift.id }}-notes" class="collapse" data-parent="#tf-tab-{{ day.date | date:'Ymd' }}">
                                    <td colspan="5" style="border: 0;"><div class="alert alert-info">{{ shift.notes | linebreaks }}</div></td>
                                </tr>
                            {% endif %}
                        {%endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

    </div>

{% endblock %}

