{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Navigators{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>SeqNo</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            {% for navigator in navigators %}
                <tr>
                    <td>{{ navigator.seqno }}</td>
                    <td><a href="{% url 'content:admin_navigator_update' navigator.uuid %}">{{ navigator.label }}</a></td>
                </tr>
            {%endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-6"><a href="{% url 'festival:admin' %}" class="btn btn-secondary">Back</a></div>
        <div class="col-6 text-right"><a href="{% url 'content:admin_navigator_create' %}" class="btn btn-primary">Add Navigator</a></div>
    </div>

{% endblock %}
