{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Images{% endblock %}

{% block content %}

<div class="row mb-2">
    <div class="col-3"><a href="{% url 'content:admin_image_create' %}" class="btn btn-primary">Add Image</a></div>
    <div class="col-9">
        {% if previous_festival %}
            <form class="form-inline justify-content-end" method="post" action="{% url 'content:admin_image_copy' %}">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" name="copy_id">
                        <option value="0">Select image to copy</option>
                        {% for image in previous_festival.images.all %}
                            <option value="{{ image.id }}">{{ image.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary ml-2" type="submit">Copy from {{ request.festival.name }}</button>
            </form>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <td><a href="{% url 'content:admin_image_update' image.uuid %}">{{ image.name }}</a></td>
                    </tr>
                {%endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
