{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Documents{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Filename</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr>
                    <td><a href="{% url 'content:admin_document_update' document.uuid %}">{{ document.name }}</a></td>
                    <td>{{ document.filename }}</td>
                </tr>
            {%endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-6"><a href="{% url 'festival:admin' %}" class="btn btn-secondary">Back</a></div>
        <div class="col-6 text-right"><a href="{% url 'content:admin_document_create' %}" class="btn btn-primary">Add Document</a></div>
    </div>

{% endblock %}
