{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-6">
        {% if refund %}
            <div class="card mb-2">
                <h6 class="card-header">Add Tickets</h6>
                <div class="card-body">
                    {% crispy refund_ticket_form %}
                </div>
            </div>
        {% else %}
            <div class="card mb-2">
                <h6 class="card-header">New Refund</h6>
                <div class="card-body">
                    {% crispy refund_start_form %}
                </div>
            </div>
            <div class="card mb-2">
                <h6 class="card-header">Refunds (since last checkpoint)</h6>
                <div class="card-body">
                    <table class="table table-striped">
                        <thhead>
                            <tr>
                                <th>Refund No</th>
                                <th>Customer</th>
                                <th>Amount</th>
                            </tr>
                        </thhead>
                        <tbody>
                            {% for refund in refunds %}
                                <tr>
                                    <td><a href="#" onclick="updateRefundsTab('{% url "boxoffice:refund_select" refund.uuid %}')">{{ refund.id }}</a></td>
                                    <td>{{ refund.customer }}</td>
                                    <td>&#163;{{ refund.amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-6">
        {% if refund %}
            {% if refund.completed %}
                <div class="alert alert-info">
                    <p>This refund is now complete but you can still make changes to correct mistakes until you enter the next checkpoint.</p>
                    <p>Select Close to begin a new refund.</p>
                </div>
            {% endif %}
            <div class="card mb-2">
                <div class="card-header">
                    Refund: {{ refund.id }}
                    <div class="float-right">{{ refund.customer }}</div>
                </div>
                <div class="card-body">
                    <table class="table table-striped mb-2">
                        <tr>
                            <th>Ticket</th>
                            <th>Show/Performance</th>
                            <th>Type/Cost</th>
                        </tr>
                        {% for ticket in refund.tickets.all %}
                            <tr>
                                <td>
                                    {{ ticket.id }}<br/>
                                    {% if not refund.completed %}
                                        <a href="#" onclick="updateRefundsTab('{% url "boxoffice:refund_ticket_remove" refund.uuid ticket.uuid %}')">Remove</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ ticket.performance.show.name }}<br/>
                                    {{ ticket.performance.date | date:"D, jS M" }} at {{ ticket.performance.time }}
                                </td>
                                <td>
                                    {{ ticket.description }}<br/>
                                    {% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% crispy refund_form %}
                    {% if refund.completed %}
                        <a class="btn btn-primary" href="#" onclick="refundUpdate()" formnovalidate>Update</a>
                        <button class="btn btn-primary">E-mail</button>
                        <a class="btn btn-primary" href="{% url 'reports:refund_pdf' refund.uuid %}" target="_blank">PDF</a>
                        <div class="float-right">
                            <a class="btn btn-secondary" href="#" onclick="updateRefundsTab('{% url "boxoffice:refund_close" refund.uuid %}')" formnovalidate>Close</a>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <a class="btn btn-primary" href="#" onclick="refundComplete()" formnovalidate>Complete</a>
                            <a class="btn btn-primary" href="#" onclick="updateRefundsTab('{% url "boxoffice:refund_cancel" refund.uuid %}')" formnovalidate>Cancel</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="alert alert-info">
                <p>To start a new refund enter the customer name or e-mail address and click Start.</p>
            </div>
        {% endif %}
    </div>
</div>

<script language="javascript">

    {% if not refund %}
        function refundStart() {
            var postData = $('#refund-start-form').serializeArray();
            updateRefundsTab('{% url "boxoffice:refund_start" boxoffice.uuid %}', postData);
        }
    {% else %}
        function refundAddTicket() {
            var postData = $('#refund-ticket-form').serializeArray();
            updateSalesTab('{% url "boxoffice:refund_ticket_add" refund.uuid %}', postData);
        }

        function refundComplete() {
            var postData = $('#refund-form').serializeArray();
            updateRefundsTab('{% url "boxoffice:refund_complete" refund.uuid %}', postData);
        }

        function refundUpdate() {
            var postData = $('#refund-form').serializeArray();
            updateRefundsTab('{% url "boxoffice:refund_update" refund.uuid %}', postData);
        }
    {% endif %}

</script>