{% load crispy_forms_tags %}
{% load widget_tweaks %}

<style type="text/css">
    div.alert-danger ul {
        margin-bottom: 0;
        list-style-type: none;
        padding-left: 0;
    }
</style>

<div class="row">
    <div class="col-6">
        {% if not sale %}
            <div class="card mb-2">
                <h6 class="card-header">New Sale</h6>
                <div class="card-body">
                    {% crispy sale_start_form %}
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">Sales Since Last Checkpoint</h6>
                <div class="card-body">
                    <table class="table table-striped">
                        <thhead>
                            <tr>
                                <th>Sale No</th>
                                <th>Customer</th>
                                <th>Amount</th>
                            </tr>
                        </thhead>
                        <tbody>
                            {% for sale in sales %}
                                <tr>
                                    <td><a href="#" onclick="updateSalesTab('{% url "boxoffice:sale_select" sale.uuid %}')">{{ sale.id }}</a></td>
                                    <td>{{ sale.customer }}</td>
                                    <td>&#163;{{ sale.amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="card mb-2">
                <h6 class="card-header">Add Tickets{% if selected_performance %}<div class="float-right">Available: {{ selected_performance.tickets_available }}</div>{% endif %}</h6>
                <div class="card-body">
                    <div class="row form-group">
                        <label class="col-4 form-control-label">Show</label>
                        <div class="col-8">
                            <select id="sale-show-select" class="form-control" onchange="saleSelectShow(this.value)">
                                <option value="" {% if not selected_show %}selected{%endif %}>-- Select show --</option>
                                {% for s in shows %}
                                    <option value="{{ s.uuid }}" {% if s == selected_show %}selected{%endif %}>{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if performances %}
                        <div class="row form-group">
                            <label class="col-4 form-control-label">Performance</label>
                            <div class="col-8">
                                <select id="sale-performance-select" class="form-control" onchange="saleSelectPerformance(this.value)">
                                    <option value="" {% if not selected_performance %}selected{%endif %}>-- Select performance --</option>
                                    {% for p in performances %}
                                        <option value="{{ p.uuid }}" {% if p == selected_performance %}selected{% endif %}>{{ p.date | date:'D, j M' }} at {{ p.time | time:'h:ip' }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    {% if all_sales_closed %}
                        <div class="alert alert-info">
                            Sales for this performance are now closed.
                        </div>
                    {% elif boxoffice_sales_closed %}
                        <div class="alert alert-info">
                            Box office and online sales for this performance are now closed and tickets can only be purchased at the venue.
                        </div>
                    {% elif sale_tickets_form %}
                        {% crispy sale_tickets_form %}
                    {% endif %}
                </div>
            </div>
            <div class="card mb-2">
                <h6 class="card-header">Extras</h6>
                <div class="card-body">
                    {% crispy sale_extras_form %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-6">
        {% if not sale %}
            <div class="alert alert-info">
                <p>To start a new sale enter the customer name or e-mail address and click Start.</p>
                <p><strong>Important:</strong> if the customer wants to purchase tickets using an eFringer you must enter the e-mail address of the account used to purchase the eFringer.</p>
            </div>
        {% else %}
            <div class="card">
                <h6 class="card-header"><i class="fa fa-user-circle {% if sale.customer_user %}text-primary{% endif %}"></i> {{ sale.customer }}<div class="float-right">Sale: {{ sale.id }}</div></h6>
                <div class="card-body">
                    {% if sale.completed %}
                        <div class="alert alert-success">
                            <p>This sale is now complete but you can still make changes to correct mistakes.</p>
                            <p>Select Close to begin a new sale.</p>
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            <p>Once the customer has paid select Complete to finish the sale.</p>
                            <p>If you select Cancel (or leave this page) the sale will be cancelled and no tickets will be issued.</p>
                        </div>
                    {% endif %}
                    {% if sale.buttons %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ sale.buttons }} x Badges</strong></div>
                            <div class="col-3 text-right">&#163;{{ sale.button_cost }}</div>
                        </div>
                    {% endif %}
                    {% if sale.fringers.count > 0 %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ sale.fringers.count }} x Paper fringers ({{ sale.festival.fringer_shows }} shows for &#163;{{ sale.festival.fringer_price | floatformat:0 }})</strong></div>
                            <div class="col-3 text-right">&#163;{{ sale.fringer_cost }}</div>
                        </div>
                    {% endif %}
                    {% for performance in sale.performances %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ performance.show }}</strong></div>
                            <div class="col-3 text-right">&#163;{{ performance.ticket_cost }}</div>
                            <div class="col-6">{{ performance.date | date:'D, j M' }} at {{ performance.time | time:'h:ia' }}</div>
                            <div class="col-3"><a href="#tf-boxoffice-sale-tickets-{{ forloop.counter }}" data-toggle="collapse">{{ performance.tickets | length }} Tickets</a></div>
                            <div class="col-3 text-right">
                                <a href="#" onclick="updateSalesTab('{% url "boxoffice:sale_remove_performance" sale.uuid performance.uuid %}')">Remove</a>
                            </div>
                            <div id="tf-boxoffice-sale-tickets-{{ forloop.counter }}" class="col-12 collapse">
                                {% for ticket in performance.tickets %}
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2">{{ ticket.id }}</div>
                                        <div class="col-4">{{ ticket.description }}</div>
                                        <div class="col-2 text-right">{% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}</div>
                                        <div class="col-3">
                                            <a href="#" onclick="updateSalesTab('{% url "boxoffice:sale_remove_ticket" sale.uuid ticket.uuid %}')">Remove</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row mb-2">
                        <div class="col-9"><strong>Total</strong></div>
                        <div class="col-3 text-right">{% if sale %}&#163;{{ sale.total_cost }}{% endif %}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {% if sale.completed %}
                                <button class="btn btn-primary" data-toggle="modal" data-target="#sale-email-modal">E-mail</button>
                                <a class="btn btn-primary" href="{% url 'reports:sale_pdf' sale.uuid %}" target="_blank">PDF</a>
                                <div class="float-right">
                                    <a class="btn btn-secondary" href="#" onclick="updateSalesTab('{% url "boxoffice:sale_close" sale.uuid %}')">Close</a>
                                </div>
                            {% else %}
                                <a class="btn btn-primary" href="#" onclick="updateSalesTab('{% url "boxoffice:sale_complete" sale.uuid %}')">Complete</a>
                                <div class="float-right">
                                    <a class="btn btn-secondary" href="#" onclick="updateSalesTab('{% url "boxoffice:sale_cancel" sale.uuid %}')">Cancel</a>
                                </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% if sale_email_form %}
    <div id="sale-email-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send e-mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="sale-email-status"></div>
                    {% crispy sale_email_form %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script language="javascript">

    {% if not sale %}

        function saleStart() {
            var postData = $('#sale-start-form').serializeArray();
            updateSalesTab('{% url "boxoffice:sale_start" boxoffice.uuid %}', postData);
        }

    {% else %}

        function saleSelectShow(showUuid) {
            url = '{% url "boxoffice:sale_show_select" sale.uuid "00000000-0000-0000-0000-000000000000" %}';
            if (showUuid) {
                url = url.replace('00000000-0000-0000-0000-000000000000', showUuid);
            }
            updateSalesTab(url);
        }

        {% if selected_show %}
            function saleSelectPerformance(performanceUuid) {
                if (performanceUuid) {
                    url = '{% url "boxoffice:sale_performance_select" sale.uuid "00000000-0000-0000-0000-000000000000" %}';
                    url = url.replace('00000000-0000-0000-0000-000000000000', performanceUuid);
                    updateSalesTab(url);
                }
                else {
                    saleSelectShow('{{ selected_show.uuid }}');
                }
            }
        {% endif %}

        {% if sale_tickets_form %}
            function saleAddTickets() {
                var postData = $('#sale-tickets-form').serializeArray();
                updateSalesTab('{% url "boxoffice:sale_tickets_add" sale.uuid selected_performance.uuid %}', postData);
            }
        {% endif %}

        {% if sale_extras_form %}
            function saleUpdateExtras() {
                var postData = $('#sale-extras-form').serializeArray();
                updateSalesTab('{% url "boxoffice:sale_extras_update" sale.uuid %}', postData);
            }
        {% endif %}

        function saleEMailSend() {
            var data = $('#sale-email-form').serializeArray();
            var url = '{% url "boxoffice:sale_email" sale.uuid %}'
            $('#sale-email-status').load(url, data, function(response, status, xhr) {
                if (status != 'success') {
                    $('#sale-email-status').html('<div class="alert alert-danger">Sorry but there was an error. Please try again.</div>');
                }
            });
        }

    {% endif %}

</script>