{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% if tab == 'checkpoints' %}
    {% for msg in messages %}
        <div class="{{ msg.tags }} alert-dismissible" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row" hx-target="#checkpoints-tab-content" hx-indicator="">

    <div class="col-6">
        <div class="card">
            <h6 class="card-header">{% if checkpoint %}Update Checkpoint: {{ checkpoint.created | time:'h:ia' }}{% else %}Add Checkpoint{% endif %}</h6>
            <div class="card-body">
                {% crispy checkpoint_form %}
                <div class="float-right">
                    {% if checkpoint %}
                        <button class="btn btn-primary" hx-post="{% url 'boxoffice:checkpoint_update' checkpoint.uuid %}" hx-include="#checkpoint-form">Update</button>
                        <button class="btn btn-secondary" hx-get="{% url 'boxoffice:checkpoint_cancel' checkpoint.uuid %}">Cancel</button>
                    {% else %}
                        <button class="btn btn-primary" hx-post="{% url 'boxoffice:checkpoint_add' boxoffice.uuid %}" hx-include="#checkpoint-form">Add</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="alert alert-info">
            <p>Checkpoints should be created at the start and end of the day and at regular intervals (e.g. hourly) and at shift changes.</p>
            <p>At each checkpopint you should record the total cash held at the boxoffice together with the number of badges and paper fringers.</p>
            <p>When you add a checkpoint you will no longer be able to make changes to any sales made before that checkpoint.</p>
        </div>
        <div class="card mb-2">
            <h6 class="card-header">Checkpoints</h6>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Cash</th>
                            <th>Badges</th>
                            <th>Fringers</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for checkpoint in checkpoints %}
                            <tr>
                                <td><button class="btn btn-link" hx-get="{% url 'boxoffice:checkpoint_select' checkpoint.uuid %}">{{ checkpoint.created | time:'h:i a' }}</button></td>
                                <td class="text-right">&#163;{{ checkpoint.cash }}</td>
                                <td class="text-right">{{ checkpoint.buttons }}</td>
                                <td class="text-right">{{ checkpoint.fringers }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
