{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">

    <div class="col-6">
        <div class="card">
            <h6 class="card-header">{% if checkpoint %}Update Checkpoint: {{ checkpoint.created | time:'h:ia' }}{% else %}Add Checkpoint{% endif %}</h6>
            <div class="card-body">
                {% crispy checkpoint_form %}
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="alert alert-info">
            <p>Checkpoints should be created at the start and end of the day and at regular intervals (e.g. hourly) and at shift changes.</p>
            <p>At each checkpopint you should record the total cash held at the boxoffice together with the number of buttons and paper fringers.</p>
        </div>
        <div class="card mb-2">
            <h6 class="card-header">Checkpoints</h6>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Cash</th>
                            <th>Buttons</th>
                            <th>Fringers</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for checkpoint in checkpoints %}
                            <tr>
                                <td><a href="#" onclick="updateCheckpointsTab('{% url "boxoffice:checkpoint_select" checkpoint.uuid %}')">{{ checkpoint.created | time:'h:i a' }}</a></td>
                                <td class="text-right">&#163;{{ checkpoint.cash }}</td>
                                <td class="text-right">{{ checkpoint.buttons }}</td>
                                <td class="text-right">{{ checkpoint.fringers }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<script language="javascript">

    {% if checkpoint %}

        function checkpointUpdate() {
            var postData = $('#checkpoint-form').serializeArray();
            updateCheckpointsTab('{% url "boxoffice:checkpoint_update" checkpoint.uuid %}', postData);
        }

        function checkpointCancel() {
            updateCheckpointsTab('{% url "boxoffice:checkpoint_cancel" checkpoint.uuid %}');
        }

    {% endif %}

</script>