{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-6">
        {% if not sale %}
            <div class="card mb-2">
                <h6 class="card-header">New Sale</h6>
                <div class="card-body">
                    {% crispy sale_start_form %}
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">Sales (since last checkpoint)</h6>
                <div class="card-body">
                    <table class="table table-striped">
                        <thhead>
                            <tr>
                                <th>Sale No</th>
                                <th>Customer</th>
                                <th>Amount</th>
                            </tr>
                        </thhead>
                        <tbody>
                            {% for sale in sales %}
                                <tr>
                                    <td><a href="#" onclick="updateSalesTab('{% url "boxoffice:sale_select" sale.uuid %}')">{{ sale.id }}</a></td>
                                    <td>{{ sale.customer }}</td>
                                    <td>&#163;{{ sale.amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="card mb-2">
                <h6 class="card-header">Add Tickets</h6>
                <div class="card-body">
                    {% crispy sale_tickets_form %}
                </div>
            </div>
            <div class="card mb-2">
                <h6 class="card-header">Extras</h6>
                <div class="card-body">
                    {% crispy sale_extras_form %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-6">
        {% if not sale %}
            <div class="alert alert-info">
                <p>To start a new sale enter the customer name or e-mail address and click Start.</p>
                <p><strong>Important:</strong> if the customer wants to purchase tickets using an eFringer you must enter the e-mail address of the account used to purchase the eFringer.</p>
            </div>
        {% else %}
            {% if sale.completed %}
                <div class="alert alert-info">
                    <p>This sale is now complete but you can still make changes to correct mistakes until you enter the next checkpoint.</p>
                    <p>Select Close to begin a new sale.</p>
                </div>
            {% endif %}
            <div class="card">
                <h6 class="card-header"><i class="fa fa-user-circle {% if sale.customer_user %}text-primary{% endif %}"></i> {{ sale.customer }}</h6>
                <div class="card-body">
                    {% if sale.buttons %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ sale.buttons }} x Buttons</strong></div>
                            <div class="col-3 text-right">&#163;{{ sale.button_cost }}</div>
                        </div>
                    {% endif %}
                    {% for fringer in sale.fringers.all %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>Frequent Fringers: {{ fringer.description }}</strong></div>
                            <div class="col-3 text-right">&#163;{{ fringer.cost }}</div>
                        </div>
                    {% endfor %}
                    {% for performance in sale.performances %}
                        <div class="row mb-2">
                            <div class="col-9"><strong>{{ performance.show }}</strong></div>
                            <div class="col-3 text-right">&#163;{{ performance.ticket_cost }}</div>
                            <div class="col-6">{{ performance.date | date:"D, jS M" }} at {{ performance.time }}</div>
                            <div class="col-3"><a href="#tf-boxoffice-sale-tickets-{{ forloop.counter }}" data-toggle="collapse">{{ performance.tickets | length }} Tickets</a></div>
                            <div class="col-3 text-right">
                                {% if not sale.completed %}
                                    <a href="#" onclick="updateSalesTab('{% url "boxoffice:sale_remove_performance" sale.uuid performance.uuid %}')">Remove</a>
                                {% endif %}
                            </div>
                            <div id="tf-boxoffice-sale-tickets-{{ forloop.counter }}" class="col-12 collapse">
                                {% for ticket in performance.tickets %}
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-5">{{ ticket.description }}</div>
                                        <div class="col-2 text-right">{% if ticket.cost %}&#163;{{ ticket.cost }}{% endif %}</div>
                                        <div class="col-3">
                                            {% if not sale.completed %}
                                                <a href="#" onclick="updateSalesTab('{% url "boxoffice:sale_remove_ticket" sale.uuid ticket.uuid %}')">Remove</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row mb-2">
                        <div class="col-9"><strong>Total</strong></div>
                        <div class="col-3 text-right">{% if sale %}&#163;{{ sale.total_cost }}{% endif %}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {% if sale.completed %}
                                <button class="btn btn-primary">E-mail</button>
                                <a class="btn btn-primary" href="{% url 'reports:sale_pdf' sale.uuid %}" target="_blank">PDF</a>
                                <div class="float-right">
                                    <a class="btn btn-secondary" href="#" onclick="updateSalesTab('{% url "boxoffice:sale_close" sale.uuid %}')">Close</a>
                                </div>
                            {% else %}
                                <a class="btn btn-primary" href="#" onclick="updateSalesTab('{% url "boxoffice:sale_complete" sale.uuid %}')">Complete</a>
                                <a class="btn btn-primary" href="#" onclick="updateSalesTab('{% url "boxoffice:sale_cancel" sale.uuid %}')">Cancel</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script language="javascript">

    {% if not sale %}
        function saleStart() {
            var postData = $('#sale-start-form').serializeArray();
            updateSalesTab('{% url "boxoffice:sale_start" boxoffice.uuid %}', postData);
        }
    {% else %}
        function loadPerformances(showUuid) {
            $('#id_performance').load('{% url "boxoffice:show_performances" "00000000-0000-0000-0000-000000000000" %}'.replace('00000000-0000-0000-0000-000000000000', showUuid));
        }

        function saleTickets() {
            var postData = $('#sale-tickets-form').serializeArray();
            updateSalesTab('{% url "boxoffice:sale_tickets_add" sale.uuid %}', postData);
        }

        function saleExtras() {
            var postData = $('#sale-extras-form').serializeArray();
            updateSalesTab('{% url "boxoffice:sale_extras_update" sale.uuid %}', postData);
        }
    {% endif %}

</script>