{% extends "base.html" %}

{% block pagetitle %}Box Office: {{ boxoffice.name }}{% endblock %}

{% block banner %}{% endblock %}

{% block content %}

    <div class="nav nav-tabs nav-justified mb-3">
        <a id="sales-tab" class="nav-item nav-link {% if tab == 'sales' %}active{% endif %}" href="#sales-tab-content" data-toggle="tab">Sales</a>
        <a id="checkpoints-tab" class="nav-item nav-link {% if tab == 'checkpoints' %}active{% endif %}" href="#checkpoints-tab-content" data-toggle="tab">Checkpoints</a>
    </div>

    <div class="tab-content">

        <div id="sales-tab-content" class="tab-pane {% if tab == 'sales' %}active{% endif %}">
            {% if checkpoints %}
                {% include 'boxoffice/_main_sales.html' %}
            {% else %}
                <div class="alert alert-info">
                    You cannot enter sales until you have completed the first checkpoint for today.
                </div>
            {% endif %}
        </div>

        <div id="checkpoints-tab-content" class="tab-pane {% if tab == 'checkpoints' %}active{% endif %}">
            {% include 'boxoffice/_main_checkpoints.html' %}
        </div>
    
    </div>

{% endblock %}

{% block body-script %}

    <script language="javascript">

        function updateSalesTab(url, data) {
            $('#sales-tab-content').load(url, data, function(response, status, xhr) {
                if (status != 'success') {
                    $('#sales-tab-content').html('Sorry but there was an error. Please try again.');
                }
            });
        }

        function updateCheckpointsTab(url, data) {
            $('#checkpoints-tab-content').load(url, data, function(response, status, xhr) {
                if (status != 'success') {
                    $('#checkpoints-tab-content').html('Sorry but there was an error. Please try again.');
                }
            });
        }

    </script>

{% endblock %}
