{% extends "base.html" %}

{% block pagetitle %}Box Office: {{ boxoffice.name }}{% endblock %}


{% block content %}

    <div class="nav nav-tabs nav-justified mb-3">
        <a id="sale-tab" class="nav-item nav-link {% if tab == 'sale' %}active{% endif %}" href="#sale-tab-content" data-toggle="tab">Sale</a>
        <a id="refund-tab" class="nav-item nav-link {% if tab == 'refund' %}active{% endif %}" href="#refund-tab-content" data-toggle="tab">Refund</a>
        <a id="checkpoint-tab" class="nav-item nav-link {% if tab == 'checkpoint' %}active{% endif %}" href="#checkpoint-tab-content" data-toggle="tab">Checkpoint</a>
        <a id="report-tab" class="nav-item nav-link {% if tab == 'report' %}active{% endif %}" href="#report-tab-content" data-toggle="tab">Report</a>
    </div>

    <div class="tab-content">

        <div id="sale-tab-content" class="tab-pane {% if tab == 'sale' %}active{% endif %}">
            {% include 'boxoffice/_main_sale.html' %}
        </div>

        <div id="refund-tab-content" class="tab-pane {% if tab == 'refund' %}active{% endif %}">
            {% include 'boxoffice/_main_refund.html' %}
        </div>

        <div id="checkpoint-tab-content" class="tab-pane {% if tab == 'checkpoint' %}active{% endif %}">
            {% include 'boxoffice/_main_checkpoint.html' %}
        </div>

        <div id="report-tab-content" class="tab-pane {% if tab == 'report' %}active{% endif %}">
            <form>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Select date</label>
                    <div class="col-sm-4">
                        <select id="report-date" class="form-control">
                            <option value="{{ report_today }}" selected>Today</option>
                            {% for date in report_dates %}
                                <option value="{{ date.value }}">{{ date.text }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <div class="card mb-2">
                <h6 class="card-header">Summary</h6>
                <div class="card-body">
                    <div id="report-summary"></div>
                </div>
            </div>
            <div class="card mb-2">
                <h6 class="card-header">Sales</h6>
                <div class="card-body">
                    <div id="report-sales"></div>
                </div>
            </div>
            <div class="card mb-2">
                <h6 class="card-header">Refunds</h6>
                <div class="card-body">
                    <div id="report-refunds"></div>
                </div>
            </div>
        </div>

    </div>

    <div id="report-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <a id="report-modal-pdf" class="btn btn-primary" href="#" target="_blank">PDF</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body-script %}

    <script language="javascript">

        $( function() {
            $('#report-date').on('change', updateReport);
            $('#report-tab').on('show.bs.tab', updateReport);
        });

        function updateReport() {
            var date = $('#report-date').val()
            $('#report-summary').load('{% url 'boxoffice:report_summary' boxoffice.uuid 'yyyyMMdd' %}'.replace('yyyyMMdd', date));
            $('#report-sales').load('{% url 'boxoffice:report_sales' boxoffice.uuid 'yyyyMMdd' %}'.replace('yyyyMMdd', date));
            $('#report-refunds').load('{% url 'boxoffice:report_refunds' boxoffice.uuid 'yyyyMMdd' %}'.replace('yyyyMMdd', date));
        };

        function showSaleDetail(sale_id, sale_uuid) {
            $('#report-modal .modal-title').text('Sale: ' + sale_id);
            $('#report-modal .modal-body').load('{% url "boxoffice:report_sale_detail" '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', sale_uuid));
            $('#report-modal-pdf').attr('href', '{% url 'reports:sale_pdf' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', sale_uuid));
            $('#report-modal').modal('show');
        }

        function showRefundDetail(refund_id, refund_uuid) {
            $('#report-modal .modal-title').text('Refund: ' + refund_id);
            $('#report-modal .modal-body').load('{% url "boxoffice:report_refund_detail" '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', refund_uuid));
            $('#report-modal-pdf').attr('href', '{% url 'reports:refund_pdf' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', refund_uuid));
            $('#report-modal').modal('show');
        }

    </script>

{% endblock %}
