<table class="table table-striped">
    <tr>
        <th>Refund No</th>
        <th>Customer</th>
        <th>Tickets</th>
        <th>Amount</th>
        <th>Completed</th>
    </tr>
    {% for refund in refunds %}
        <tr>
            <td><a href="#" onclick="showRefundDetail({{ refund.id }}, '{{ refund.uuid }}')">{{ refund.id }}</a></td>
            <td>{{ refund.customer }}</td>
            <td>{{ refund.tickets.count }}</td>
            <td>&#163;{{ refund.amount }}</td>
            <td>{{ refund.completed }}</td>
        </tr>
    {% endfor %}
</table>
