<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Show</th>
            <th>Performance</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in sale.tickets.all %}
            <tr>
                <td><a href="{% url 'festival:admin_sale_ticket_update' sale.uuid ticket.uuid %}">{{ ticket.id }}</a></td>
                <td>{{ ticket.performance.show.name }}</td>
                <td>{{ ticket.performance.date | date:'M-d' }} at {{ ticket.performance.time }}</td>
                <td>{{ ticket.type.name }}</td>
                <td>&#163;{{ ticket.type.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mb-4 text-right">
    <a class="btn btn-primary" href="{% url 'festival:admin_sale_fringer_create' sale.uuid %}">Add Ticket</a>
</div>
