{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Festival Administration: {{ festival.name }}{% endblock %}

{% block content %}

    <div class="row">

        <div class="col">

            <h5>Setup</h5>
            <ul>
                <li><a href="{% url 'festival:admin_festival' %}">Festival</a></li>
                <li><a href="{% url 'festival:admin_tickettype_list' %}">Ticket types</a></li>
                <li><a href="{% url 'festival:admin_fringertype_list' %}">Fringer types</a></li>
            </ul>

            <h5>Program</h5>
            <ul>
                <li><a href="{% url 'program:admin_show_list' %}">Shows</a></li>
                <li><a href="{% url 'program:admin_company_list' %}">Companies</a></li>
                <li><a href="{% url 'program:admin_venue_list' %}">Venues</a></li>
                <li><a href="{% url 'program:admin_genre_list' %}">Genres</a></li>
            </ul>
        
            <h5>Content and Navigation</h5>
            <ul>
                <li><a href="{% url 'content:admin_page_list' %}">Pages</a></li>
                <li><a href="{% url 'content:admin_navigator_list' %}">Navigators</a></li>
                <li><a href="{% url 'content:admin_image_list' %}">Images</a></li>
                <li><a href="{% url 'content:admin_resource_list' %}">Resources</a></li>
                <li><a href="{% url 'content:admin_document_list' %}">Documents</a></li>
            </ul>
        
        </div>

        <div class="col">

            <h5>Users</h5>
            <ul>
                <li><a href="{% url 'festival:admin_user_list' %}">List Users</a></li>
                <li><a href="{% url 'festival:admin_user_email' %}">e-mail Users</a></li>
            </ul>

            <h5>Sales</h5>
            <ul>
                <li><a href="{% url 'festival:admin_sale_list' %}">List Sales</a></li>
            </ul>

            <h5>Pay-as-you-will</h5>
            <ul>
                <li><a href="{% url 'festival:admin_bucket_list' %}">Buckets</a></li>
            </ul>

            <h5>Reports</h5>
            <ul>
                <li><a href="{% url 'reports:select' 'finance' %}">Finance</a></li>
                <li><a href="{% url 'reports:select' 'sales' %}">Ticket sales</a></li>
            </ul>
            
        </div>

    </div>

{% endblock %}
