{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}PAYW Card Payments{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Company</th>
                <th>Show</th>
                <th>Performance</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for pc in paywcards %}
                <tr>
                    <td>{{ pc.date | date:'D d' }}</td>
                    <td><a href="{% url 'festival:admin_paywcard_update' pc.uuid %}">{{ pc.company.name }}</a></td>
                    <td>{{ pc.show.name }}</td>
                    <td>{% if pc.performance %}{{ pc.performance.date | date:'D' }} at {{ pc.performance.time | time:'H:i'}}{% endif %}</td>
                    <td>&#163;{{ pc.total }}</td>
                </tr>
            {%endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-12"><a href="{% url 'festival:admin_paywcard_create' %}" class="btn btn-primary">Add PAYW Card Payment</a></div>
    </div>

{% endblock %}
