{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block pagetitle %}login{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md">
            <div class="card mb-2">
                <div class="card-header">Already Registered</div>
                <div class="card-body">
                    <div class="alert alert-info">
                        All users, including those who used this site last year, must register before they can logon.
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" id="next" value="{{ next }}" />
                        {% include 'bs4_form.html' %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    {% if form.get_user and not form.get_user.is_active %}
                        <a class="card-link" href="{% url 'resend_activation_email' form.get_user.uuid %}">Resend activation e-mail</a>
                    {% else %}
                        <a class="card-link" href="{% url 'password_reset' %}">Forgotten password?</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card mb-2">
                <div class="card-header">Not Yet Registered This Year</div>
                <div class="card-body">
                    <p class="card-text">You need to register to access the livestream link.</p>
                    <a class="btn btn-primary" href="{% url 'django_registration_register' %}">Register</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
