{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block pagetitle %}password reset{% endblock %}

{% block content %}

    <div class="card mb-2">
        <div class="card-header">Forgotten Password?</div>
        <div class="card-body">
            <p>Enter your e-mail address below and we will send you instructions for setting sa new one.</p>
            <form method="post">
                {% csrf_token %}
                {% include 'bs4_form.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
