{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block pagetitle %}change password{% endblock %}

{% block content %}

    <div class="card mb-2">
        <div class="card-header">Set New Password</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% include 'bs4_form.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Set Password</button>
                    <a class="btn btn-secondary" href="{% url 'login' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
