{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block pagetitle %}password reset{% endblock %}

{% block content %}

    {% if validlink %}
        <div class="card mb-2">
            <div class="card-header">Set New Password</div>
            <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'bs4_form.html' %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Set Password</button>
                        </div>
                    </form>
            </div>
        </div>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has been used before.
            Please request a new password reset.
        </p>
    {% endif %}

{% endblock %}
