{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Festivals{% endblock %}

{% block content %}

<div class="row mb-2">
    <div class="col"><a href="{% url 'core:admin_festival_create' %}" class="btn btn-primary">Add Festival</a></div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Archived</th>
                    <th>Live</th>
                    <th>Session</th>
                </tr>
            </thead>
            <tbody>
                {% for festival in festivals %}
                    <tr>
                        <td><a href="{% url 'core:admin_festival_update' festival.uuid %}">{{ festival.name }}</a></td>
                        <td>{{ festival.title }}</td>
                        <td>{{ festival.is_archived }}</td>
                        <td>
                            {% if festival.is_live %}
                                <span>Yes</span>
                            {% elif not festival.is_archived %}
                                <a class="btn btn-secondary" href="{% url 'core:admin_festival_live' festival.uuid %}">Select</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if festival.id == session_festival_id %}
                                <a class="btn btn-primary" href="{% url 'core:admin_festival_disable' %}">Disable</a>
                            {% else %}
                                <a class="btn btn-secondary" href="{% url 'core:admin_festival_enable' festival.uuid %}">Enable</a>
                            {% endif %}
                        </td>
                    </tr>
                {%endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
