{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Festivals{% endblock %}

{% block content %}

<div class="row mb-2">
    <div class="col"><a href="{% url 'core:admin_festival_create' %}" class="btn btn-primary">Add Festival</a></div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Live</th>
                    <th>Archived</th>
                </tr>
            </thead>
            <tbody>
                {% for festival in festivals %}
                    <tr>
                        <td><a href="{% url 'core:admin_festival_update' festival.uuid %}">{{ festival.name }}</a></td>
                        <td>{{ festival.title }}</td>
                        <td>{{ festival.is_live }}</td>
                        <td>{{ festival.is_archived }}</td>
                    </tr>
                {%endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
