{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}System Administration{% endblock %}

{% block content %}

    <div class="row">

        <div class="col">

            <ul>
                <li><a href="{% url 'core:admin_festival_list' %}">Festivals</a></li>
                <li><a href="{% url 'core:admin_user_list' %}">Admin users</a></li>
                <li><a href="{% url 'core:debug' %}">Debug</a></li>
                <li><a href="/admin" target="_blank">Django Admin (new window)</a></li>
            </ul>
            
        </div>

    </div>

{% endblock %}
