{% extends "base.html" %}
{% load widget_tweaks %}

{% block pagetitle %}Buy Tickets{% endblock %}

{% block content %}

    <div id="tf-tickets-buy">

        <h5 class="tf-show-name"><a href="{% url 'program:show' performance.show.uuid %}">{{ performance.show.name }}</a></h5>
        <h6>{{ performance.date|date:'D, j M' }} at {{ performance.time|time:'P' }}</h6>
        <p>Tickets available: {{ performance.tickets_available }}</p>

        {% if performance.has_close_checkpoint %}

            <div class="card">
                <div class="card-header">Sales Closed</div>
                <div class="card-body">
                    Ticket sales for this performance are now closed.
                </div>
            </div>

        {% elif performance.tickets_available %}

            <div class="nav nav-tabs nav-justified mb-3">
                <a class="nav-item nav-link {% if tab == 'tickets' %}active{% endif %}" href="#tickets-tab-content" data-toggle="tab">Credit Card</a>
                <a class="nav-item nav-link {% if tab == 'fringers' %}active{% endif %}" href="#fringers-tab-content" data-toggle="tab">eFringers</a>
                {% if user.is_volunteer %}
                    <a class="nav-item nav-link {% if tab == 'volunteer' %}active{% endif %}" href="#volunteer-tab-content" data-toggle="tab">Volunteer</a>
                {% endif %}
                <a class="nav-item nav-link {% if tab == 'faqs' %}active{% endif %}" href="#faqs-tab-content" data-toggle="tab">FAQs</a>
            </div>

            <div class="tab-content">

                <div id="tickets-tab-content" class="tab-pane {% if tab == 'tickets' %}active{% endif %}">
                    {% include 'tickets/_buy_tickets.html' %}
                </div>

                <div id="fringers-tab-content" class="tab-pane {% if tab == 'fringers' %}active{% endif %}">
                    {% include 'tickets/_buy_fringers.html' %}
                </div>

                <div id="volunteer-tab-content" class="tab-pane {% if tab == 'volunteers' %}active{% endif %}">
                    {% include 'tickets/_buy_volunteers.html' %}
                </div>

                <div id="faqs-tab-content" class="tab-pane {% if tab == 'faqs' %}active{% endif %}">
                    {% include 'tickets/_faqs.html' %}
                </div>

            </div>

        {% else %}

            <div class="card">
                <div class="card-header">Sold Out</div>
                <div class="card-body">
                    There are no more tickets available for this performance.
                </div>
            </div>
            
        {% endif %}

    </div>

{% endblock %}