{% extends "base.html" %}

{% block pagetitle %}Thankyou{% endblock %}

{% block content %}

    <div id="tf-tickets-confirm">

        <p>You have added tickets to your basket for {{ performance.show.name }} on {{ performance.date|date:'D, j M' }} at {{ performance.time|time:'P' }}.</p>
        <p><b>Tickets are not issued until they have been paid for through the checkout.</b></p>
        <p>What would you like to do next?</p>
        <ul>
            <li><a href="{% url 'tickets:checkout' %}">Go to the checkout</a></li>
            <li><a href="{% url 'tickets:buy' performance.uuid %}">Buy more tickets for this performance</a></li>
            <li><a href="{% url 'program:shows' %}">Find another show</a></li>
            <li><a href="{% url 'tickets:myaccount' %}">Manage my account</a></li>
        </ul>

    </div>

{% endblock %}