{% extends "base.html" %}

{% block head-script %}
    {{ block.super}}
    <script src="https://js.stripe.com/v3/" ></script>
{% endblock %}

{% block pagetitle %}Donations{% endblock %}

{% block content %}

    <div id="tf-tickets-donations">

        <p>
            You can make a donation anytime. Unti
            July 11th '21, 100% of all donations (minus the small processing fee) will be shared equally amongst the performing companies.
            After July 11th '21, donations will go towards securing Fringe TheatreFest '22.
        </p>

        <div class="card">
            <h6 class="card-header">Make a Donation</h6>
            <div class="card-body">
                <form id="donationForm">
                    <div class="form-group">
                        <label for="donationAmount">Amount</label>
                        <div class="input-group">
                            <input type="number" min="1" max="1000" class="form-control" name="donationAmount" required>
                            <div class="input-group-append">
                                <span class="input-group-text">pounds</span>
                            </div>
                        </div>
                        <small class="form-text text-muted">Enter the amount in pounds or select one of the presets below.</small>
                        <div>
                            <button type="button" class="btn" id="donationPreset1">£1</button>
                            <button type="button" class="btn" id="donationPreset2">£2</button>
                            <button type="button" class="btn" id="donationPreset5">£5</button>
                            <button type="button" class="btn" id="donationPreset10">£10</button>
                            <button type="button" class="btn" id="donationPreset20">£20</button>
                            <button type="button" class="btn" id="donationPreset50">£50</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="donationEmail">e-mail</label>
                        <input type="email" class="form-control" name="donationEmail" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="donationDonate">Donate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block body-script %}
    {{ block.super}}
    <script type="text/javascript">
    
        $("#donationPreset1").on("click", function (event) { $("input[name=donationAmount]").val(1); });
        $("#donationPreset2").on("click", function (event) { $("input[name=donationAmount]").val(2); });
        $("#donationPreset5").on("click", function (event) { $("input[name=donationAmount]").val(5); });
        $("#donationPreset10").on("click", function (event) { $("input[name=donationAmount]").val(10); });
        $("#donationPreset20").on("click", function (event) { $("input[name=donationAmount]").val(20); });
        $("#donationPreset50").on("click", function (event) { $("input[name=donationAmount]").val(50); });

        var stripe = Stripe('{{ stripe_key }}');

        $("#donationForm").on("submit", function (event) {

            event.preventDefault();
            var amount = $("input[name=donationAmount]").val();
            var email = $("input[name=donationEmail]").val();

            var data = {
                method: 'POST',
                body: JSON.stringify({
                    post_data: {
                        amount: amount,
                        email: email,
                        description: "Donation"
                    }
                })
            }

            fetch("{% url 'tickets:donation_stripe' %}", data)
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error: ", error);
            });
        });

    </script>
{% endblock %}
