{% extends "base.html" %}

{% block pagetitle %}Donations{% endblock %}

{% block content %}

    <div id="tf-tickets-donations">

        <p>
            Your donation will help secure the infrastructure for {{ request.festival.title }} - venue hire, technical equipment, insurance and publicity costs.
            Thank you. 
        </p>
        <p>
            When you pay by card, the Stripe payment site processes your payment details.
            We have no access to these details and do not store them in any form.
        </p>

        <div class="card">
            <h6 class="card-header">Make a Donation</h6>
            <div class="card-body">
                <form id="donationForm" method="POST" action="{% url 'tickets:donation_stripe' %}">
                    <div class="form-group">
                        <label for="donationAmount">Amount</label>
                        <div class="input-group">
                            <input type="number" min="1" max="1000" class="form-control" name="donationAmount" required>
                            <div class="input-group-append">
                                <span class="input-group-text">pounds</span>
                            </div>
                        </div>
                        <small class="form-text text-muted">Enter the amount in pounds or select one of the presets below.</small>
                        <div>
                            <button type="button" class="btn" id="donationPreset1">£1</button>
                            <button type="button" class="btn" id="donationPreset2">£2</button>
                            <button type="button" class="btn" id="donationPreset5">£5</button>
                            <button type="button" class="btn" id="donationPreset10">£10</button>
                            <button type="button" class="btn" id="donationPreset20">£20</button>
                            <button type="button" class="btn" id="donationPreset50">£50</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="donationEmail">e-mail</label>
                        <input type="email" class="form-control" name="donationEmail" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="donationDonate">Donate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block body-script %}
    {{ block.super}}
    <script type="text/javascript">
    
        $("#donationPreset1").on("click", function (event) { $("input[name=donationAmount]").val(1); });
        $("#donationPreset2").on("click", function (event) { $("input[name=donationAmount]").val(2); });
        $("#donationPreset5").on("click", function (event) { $("input[name=donationAmount]").val(5); });
        $("#donationPreset10").on("click", function (event) { $("input[name=donationAmount]").val(10); });
        $("#donationPreset20").on("click", function (event) { $("input[name=donationAmount]").val(20); });
        $("#donationPreset50").on("click", function (event) { $("input[name=donationAmount]").val(50); });

    </script>
{% endblock %}
