{% extends "base.html" %}

{% block head-script %}
    {{ block.super}}
    <script src="https://js.stripe.com/v3/" ></script>
{% endblock %}

{% block pagetitle %}Donations{% endblock %}

{% block content %}

    <div id="tf-tickets-donations">

        <p>You can make donations at anytime .... </p>

        <div class="card">
            <h6 class="card-header">Make a Donation</h6>
            <div class="card-body">
                <form id="donationForm">
                    <div class="form-group">
                        <label for="donationAmount">Amount</label>
                        <div class="input-group">
                            <input type="number" min="0" max="1000" class="form-control" name="donationAmount" required>
                            <div class="input-group-append">
                                <span class="input-group-text">pounds</span>
                            </div>
                        </div>
                        <small class="form-text text-muted">Enter the amount in pounds or select one of the presets below.</small>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="donationPreset" value="1">
                                <label class="form-check-label" for="donationAmount1">£1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="donationPreset" value="2">
                                <label class="form-check-label" for="donationAmount2">£2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="donationPreset" value="5">
                                <label class="form-check-label" for="donationAmount2">£5</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="donationPreset" value="10">
                                <label class="form-check-label" for="donationAmount2">£10</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="donationPreset" value="25">
                                <label class="form-check-label" for="donationAmount2">£25</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="donationPreset" value="Other" checked>
                                <label class="form-check-label" for="donationAmountOther">Other</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="donationEmail">e-mail</label>
                        <input type="email" class="form-control" name="donationEmail" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="donationDonate">Donate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block body-script %}
    {{ block.super}}
    <script type="text/javascript">
    
        $("input[name=donationPreset]").on("click", function (event) {
            if (event.target.value == "Other") {
                $("input[name=donationAmount]").val("");
            }
            else {
                $("input[name=donationAmount]").val(event.target.value);
            }
        });

        $("input[name=donationAmount]").on("change", function (event) {
            $("input[name=donationPreset]").val(["Other"]);
        });

        var stripe = Stripe('{{ stripe_key }}');

        $("#donationForm").on("submit", function (event) {

            event.preventDefault();
            var amount = $("input[name=donationAmount]").val();
            var email = $("input[name=donationEmail]").val();

            var data = {
                method: 'POST',
                body: JSON.stringify({
                    post_data: {
                        amount: amount,
                        email: email,
                        description: "Donation"
                    }
                })
            }

            fetch("{% url 'tickets:donation_stripe' %}", data)
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error: ", error);
            });
        });

    </script>
{% endblock %}
