<div id="tf-faq-accordion" class="accordion">
    <div class="card">
        <h6 class="card-header"><a href="#tf-faq-when" data-toggle="collapse">When can I buy tickets?</a></h6>
        <div id="tf-faq-when" class="collapse" data-parent="#tf-faq-accordion">
            <div class="card-body">
                <p>
                    You can buy tickets online until 30 minutes before the performance starts.
                    After that time you can only buy tickets at the venue.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <h6 class="card-header"><a href="#tf-faq-pay" data-toggle="collapse">How can I pay for tickets?</a></h6>
        <div id="tf-faq-pay" class="collapse" data-parent="#tf-faq-accordion">
            <div class="card-body">
                Tickets bought online must be paid for using a credit card.
            </div>
        </div>
    </div>
    <div class="card">
        <h6 class="card-header"><a href="#tf-faq-concessions" data-toggle="collapse">Who qualifies for concession tickets?</a></h6>
        <div id="tf-faq-concessions" class="collapse" data-parent="#tf-faq-accordion">
            <div class="card-body">
                16 or under, students, over 60, unemployed or disabled.
            </div>
        </div>
    </div>
    <div class="card">
        <h6 class="card-header"><a href="#tf-faq-fringer" data-toggle="collapse">What are eFringers and how do they work?</a></h6>
        <div id="tf-faq-fringer" class="collapse" data-parent="#tf-faq-accordion">
            <div class="card-body">
                An eFringer Voucher can be used to buy tickets for 6 different performances at a discounted price.
                <ul>
                    <li>eFringer Vouchers can only be bought online.</li>
                    <li>Vouchers can only be used to purchase tickets online.</li>
                    <li>Each eFringer Voucher can only be used to buy one ticket per performance.</li>
                    <li>Select Tickets and Fringers in "my account" to manage your eFringer Vouchers.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <h6 class="card-header"><a href="#tf-faq-tickets" data-toggle="collapse">How will I get my tickets once I have bought them?</a></h6>
        <div id="tf-faq-tickets" class="collapse" data-parent="#tf-faq-accordion">
            <div class="card-body">
                You will receive an e-mail containing details of all tickets bought online.
                You can print this e-mail and take it to the venue or simply display the e-mail on a mobile device.
            </div>
        </div>
    </div>
    <div class="card">
        <h6 class="card-header"><a href="#tf-faq-cancel" data-toggle="collapse">Can I cancel tickets?</a></h6>
        <div id="tf-faq-cancel" class="collapse" data-parent="#tf-faq-accordion">
            <div class="card-body">
                Tickets bought using a credit card cannot be cancelled.
                <br/>
                Tickets bought using an eFringer Voucher can be cancelled until 30 minutes before the performance begins.
                Select Tickets and Fringers in "my account" to manage your tickets.
            </div>
        </div>
    </div>
</div>
