{% extends "base.html" %}
{% load widget_tweaks %}

{% block pagetitle %}My Account{% endblock %}

{% block content %}
    <div id="tf-tickets-myaccount">

        <div class="nav nav-pills nav-justified mb-3">
            <a class="nav-item nav-link {% if tab == 'tickets' %}active{% endif %}" href="#tickets-tab-content" data-toggle="tab">Tickets</a>
            <a class="nav-item nav-link {% if tab == 'fringers' %}active{% endif %}" href="#fringers-tab-content" data-toggle="tab">eFringers</a>
            {% if request.user.is_volunteer %}
                <a class="nav-item nav-link {% if tab == 'volunteers' %}active{% endif %}" href="#volunteers-tab-content" data-toggle="tab">Volunteers</a>
            {% endif %}
            <a class="nav-item nav-link {% if tab == 'faqs' %}active{% endif %}" href="#faqs-tab-content" data-toggle="tab">FAQs</a>
        </div>

        <div class="tab-content">

            <div id="tickets-tab-content" class="tab-pane {% if tab == 'tickets' %}active{% endif %}">
                {% include 'tickets/_myaccount_tickets.html' %}
            </div>

            <div id="fringers-tab-content" class="tab-pane {% if tab == 'fringers' %}active{% endif %}">
                {% include 'tickets/_myaccount_fringers.html' %}
            </div>

            {% if request.user.is_volunteer %}
                <div id="volunteers-tab-content" class="tab-pane {% if tab == 'volunteers' %}active{% endif %}">
                    {% include 'tickets/_myaccount_volunteers.html' %}
                </div>
            {% endif %}

            <div id="faqs-tab-content" class="tab-pane {% if tab == 'faqs' %}active{% endif %}">
                {% include 'tickets/_faqs.html' %}
            </div>

        </div>

    </div>

{% endblock %}