{% extends "base.html" %}
{% load widget_tweaks %}

{% block pagetitle %}Pay as You Will Donation{% endblock %}

{% block content %}

    <div id="tf-tickets-payw">

        <h5 class="tf-show-name"><a href="{% url 'program:show' show.uuid %}">{{ show.name }}</a></h5>

        {% if fringers %}
            <p>Select the eFringer credits you would like to use and then click on Confirm to make the donation.</p>

            <form method="post">
                {% csrf_token %}
                <table class="table table-striped">
                    {% for fringer in fringers %}
                        <tr>
                            <td><input type="checkbox" name="fringer_id" value="{{ fringer.id }}" /></td>
                            <td style="width: 700%">{{ fringer.name }} ({{ fringer.available }} credits remaining)</td>
                            <td style="width: 30%">&#163;{{ fringer.payment }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <button type="submit" class="btn btn-primary" name="action" value="UseFringers">Confirm</button>
                <a class="btn btn-secondary" href="{% url 'program:show' show.uuid %}">Cancel</a>
            </form>
        {% else %}
            <p>You do not have any eFringer credits available.</p>
        {% endif %}

    </div>

{% endblock %}